<div id="<%= dom_id project %>">
  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= project.project_description %>
  </p>

</div>
